# Dependencies
/node_modules
/client/node_modules
/backend/node_modules

# Production build
/build
/client/build
/backend/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# Cache directories
.npm
.eslintcache
.cache

# Optional: database files
*.sqlite
*.db

# System Files
.DS_Store
Thumbs.db 